
/mnt/cimec-storage6/users/samuele.antonelli/modifica_resnet_backup/modifica_resnet/CNN_classifier/model_save1

model_save1/

CNN_classifier/CUB_200_2011/
/mnt/cimec-storage6/users/samuele.antonelli/modifica_resnet_backup/modifica_resnet/CNN_classifier/CUB_200_2011
CNN_classifier/CUB_200_2011/


CNN_classifier/model_save1/ResNet/ResNet101.pkl
